body,
.modal-content {
  background-color: #303133;
  color: #fff;
  padding: 1%;
}

#main_title,
#user_inputs {
  display: inline-block;
}

#overall {
  padding-right: 2px;
}

/* DataTable */
.page-link {
  background-color: #303133;
  color: #fff;
}

.page-item.disabled,
.page-item.disabled .page-link {
  background-color: #46494c;
  color: #fff;
}

.page-item.active,
.page-item.active .page-link {
  background-color: #fff;
  color: #46494c;
  border-color: #fff;
}

.page-link:hover {
    color: #303133;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

caption{
  caption-side: top;
  color: #fff;
}

#challenge_tbl_info,
#challenge_tbl_filter,
#challenge_tbl_paginate,
#challenge_tbl_length{
  display: inline-block;
}

#challenge_tbl_paginate,
#challenge_tbl_length,
#user_inputs{
  float: right;
}

#user_inputs{
  padding: 0.85em 0;
}

#challenge_tbl_length{
  text-align: right;
}

#challenge_tbl_filter{
  text-align: left;
}

/*  Modal */
button.close {
  color: #fafdff;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  color: #7b7b7b;
}

#desc_label{
  margin-bottom: 0;
}

/*  Make these left-aligned on smaller screens */
@media only screen and (max-width : 420px) {
  #challenge_tbl_length{
    float: none;
  }
}

@media only screen and (max-width : 630px) {
  #challenge_tbl_paginate{
    float: left;
    padding: 0.85em 0;
  }
}

@media only screen and (max-width : 825px) {
  #user_inputs{
    float: none;
  }
}
